<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css"/>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js"></script>-->

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.css"/>

    <style>
        .app .page-container {
            padding: 32px;
        }

        .app .page {
            margin: 0 auto;
            padding: 24px;
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
        }

        .app .page h1 {
            text-align: center;
            font-size: 1.8rem;
            margin-top: 0;
            font-weight: normal;
        }

        .app .page p {
            line-height: 1.6rem;
        }
    </style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

</head>
<body ng-app="timePrediction" class="app">

<div class="container" ng-controller="AppCtrl">
    <md-toolbar class="md-menu-toolbar">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <md-icon class="fas fa-hospital-alt"></md-icon>
            </md-toolbar-filler>
            <div>
                <h2 class="md-toolbar-tools">Control de tiempos Hospital Eugenio Espejo</h2>
            </div>
        </div>
    </md-toolbar>

    <md-content class="page-container">
        <div class="page p-5">
            <h3>Predicción</h3>
            <div class="row">
                <div class="col-md-8">
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Nacionalidad</label>
                            <md-select ng-model="nac" placeholder="Nacionalidad" class="md-no-underline"
                                       ng-change="calcularMetricas()">
                                <md-option value="1">Ecuatoriano</md-option>
                                <md-option value="2">Extrangero</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Edad</label>
                            <md-select ng-model="edad" placeholder="Edad" class="md-no-underline"
                                       ng-change="calcularMetricas()">
                                <md-option value="1">Menor a 5 años</md-option>
                                <md-option value="2">Entre 6 y 15 años</md-option>
                                <md-option value="3">Entre 16 y 20 años</md-option>
                                <md-option value="4">Entre 21 y 30 años</md-option>
                                <md-option value="5">Entre 31 y 50 años</md-option>
                                <md-option value="6">Mayor a 50 años</md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Sexo</label>
                            <md-select ng-model="sexo" placeholder="sexo" class="md-no-underline"
                                       ng-change="calcularMetricas()">
                                <md-option value="1">Masculino</md-option>
                                <md-option value="2">Femenino</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Provincia</label>
                            <md-select ng-model="cod_prov" placeholder="Provincia" class="md-no-underline"
                                       ng-change="calcularMetricas()">
                                <md-option ng-value="item.cod_prov"
                                           ng-repeat="item in provincias">{{item.prov}}
                                </md-option>

                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Especialidad</label>
                            <md-select ng-model="especialidad" placeholder="especialidad" class="md-no-underline"
                                       ng-change="getDiagnostico()">
                                <md-option ng-value="item._id"
                                           ng-repeat="item in especialidades">{{item.especialidad}}
                                </md-option>

                            </md-select>
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Diagnostico</label>
                            <md-select ng-model="cod_diag" placeholder="Diagnostico" class="md-no-underline"
                                       ng-change="calcularMetricas()">
                                <md-option ng-value="item._id"
                                           ng-repeat="item in diagnositicos">{{item.desc}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>
                </div>

                <div class="col-md-4" layout="row" layout-align="center center">
                    <div flex="50" class="mx-0" style="">
                        <md-card-content>
                            <p class="text-center md-display-4 green-text">{{time | number:1}}</p>
                        </md-card-content>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <md-progress-circular ng-if="busy">
        </md-progress-circular>
        <div class="pagex">
            <div class="row">
                <div class="col-md-12">
                    <div layout="row">
                        <md-card flex="50" class="mx-0">
                            <md-card-header>
                                <md-card-avatar class="flex-center">

                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">Nacionalidad</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <div id="c-nac"></div>
                            </md-card-content>
                        </md-card>
                        <md-card flex="50">
                            <md-card-header>
                                <md-card-avatar class="flex-center">

                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">Edad</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <div id="c-edad"></div>
                            </md-card-content>
                        </md-card>

                        <md-card flex="50">
                            <md-card-header>
                                <md-card-avatar class="flex-center">

                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">Género</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <div id="c-sexo"></div>
                            </md-card-content>
                        </md-card>

                    </div>
                    <div layout="row">

                        <md-card flex="75" class="mx-0">
                            <md-card-header>
                                <md-card-avatar class="flex-center">

                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">Provincia</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <div id="c-prov"></div>

                            </md-card-content>
                        </md-card>
                        <md-card flex="50">
                            <md-card-header>
                                <md-card-avatar class="flex-center">

                                </md-card-avatar>
                                <md-card-header-text>
                                    <span class="md-title">Especialidad</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <div id="c-especialidad"></div>
                            </md-card-content>
                        </md-card>

                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8" layout="row">
                    <md-card flex="100">
                        <md-card-header>
                            <md-card-avatar class="flex-center">

                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-title">Diagnostico</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Cod</th>
                                    <th>Count</th>
                                    <th>Tiempo (Media)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="h in metrics.diagnositicos">
                                    <th scope="row">{{$index + 1}}</th>
                                    <td>{{h.cod | diagnositicos}}</td>
                                    <td>{{h.count | humanizeInt}}</td>
                                    <td>{{h.time}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-card-content>
                    </md-card>
                </div>
            </div>

        </div>


    </md-content>
</div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" language="JavaScript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-plus/1.8.2/humanize.min.js" language="JavaScript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" language="JavaScript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js" language="JavaScript"></script>


<script src="js/app.js"></script>


</body>
</html>